aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
billiard==4.2.4
boto3==1.42.80
botocore==1.42.80
brotli==1.2.0
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==46.0.6
cssselect2==0.9.0
decorator==5.2.1
dj-database-url==3.1.2
Django==5.2.12
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==23.5
django-storages==1.14.6
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
executing==2.2.1
factory_boy==3.3.3
Faker==40.12.0
fonttools==4.62.1
frozenlist==1.8.0
gunicorn==21.2.0
html5lib==1.1
idna==3.11
iniconfig==2.3.0
ipython==8.39.0
jedi==0.19.2
jmespath==1.1.0
kombu==5.6.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
multidict==6.7.1
packaging==26.0
parso==0.8.6
pexpect==4.9.0
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
PyJWT==2.12.1
pyphen==0.17.2
pytest==7.4.4
pytest-django==4.12.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-http-client==3.3.7
redis==5.3.1
reportlab==4.4.10
requests==2.33.1
s3transfer==0.16.0
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
tinycss2==1.5.1
traitlets==5.14.3
twilio==8.13.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
weasyprint==60.2
webencodings==0.5.1
Werkzeug==3.1.7
whitenoise==6.12.0
yarl==1.23.0
zopfli==0.4.1
